.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.home-container {
  display: flex;
  height: 100vh; 
}

.side {
  flex: 1; /* Les côtés prennent chacun 1 fraction de l'espace disponible */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.middle {
  flex: 2; /* La section du milieu prend 2 fractions, la rendant plus large */
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-editor {
  width: 100%;
  height: 300px; /* Hauteur arbitraire, ajustez selon vos besoins */
  padding: 10px;
  box-sizing: border-box;
}
